html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* start */
html {}
body {width: 95%;font-size: 16px;padding-left:5%;max-width: 1920px;}
/* navigation */
nav {position: fixed;background-color: #FFF;width: 90%;margin-left: -90%;z-index: 10;border-right: 1px solid #cccccc;}/* margin-left값( -90% ) 조정 */
nav div.gnb_container {position: relative;}
nav div.gnb_container > span.logo {position: absolute;top: 20px;right: 20px;}
nav div.gnb_container > span.logo > a {display: inline-block;}
@keyframes carousel {
	0% {-webkit-transform: rotateY(0deg); transform: rotateY(0deg);}
	100% {-webkit-transform: rotateY(360deg); transform: rotateY(360deg);}
}
nav div.gnb_container > span.logo > a > img {
	width: 40px;
	animation-name:carousel;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}
nav div.gnb_container > div.btn_menu {position: absolute;right: -25px;top: 47%;}
nav div.gnb_container > div.btn_menu a {
	position: relative;
    display: block;width: 50px; height: 50px;
    background-color: black;border-radius: 50px;
    cursor: pointer;cursor: pointer;
}
nav div.gnb_container > div.btn_menu > a > div.menu_btn {
    display: block;width: 100%;height: 100%;
}
nav div.gnb_container > div.btn_menu > a > div.menu_btn > span.bar {
	position: absolute;top: 0;left: 0;right: 0;margin: 0 auto;
	display: inline-block;width: 50%;height: 2px;font-size: 0;color: transparent;text-indent: -9999px;background-color: #fff;
}
nav div.gnb_container > div.btn_menu > a > div.menu_btn > span.bar:first-child {top: 33%;}
nav div.gnb_container > div.btn_menu > a > div.menu_btn > span.bar:last-child {top: 65%;}
nav div.gnb_container > p {
    position: absolute; right: 2%;bottom: 5%;
    color: #999999;font-size: 14px;
    -webkit-writing-mode: vertical-rl;
	-moz-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	-ms-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
}
/* menu_txt */
nav div.gnb_container > div.menu_wrp {display: block;float: left;}
nav div.gnb_container > div.menu_wrp > ul.menu {position: absolute;bottom: 10%;left: 5%;}
nav div.gnb_container > div.menu_wrp > ul.menu li {text-align: left;padding: 10px 0;}
nav div.gnb_container > div.menu_wrp > ul.menu li a {font-size: 32px;padding: 0 20px;line-height: 32px;font-weight: bold;color: #666666;cursor: pointer;}
/* menu_img */
nav div.gnb_container > div.menu_img_wrp {position: absolute;right: 15%;top: 10%; display: block;width: 45%;}
nav div.gnb_container > div.menu_img_wrp ul.menu_img {position: relative;}
nav div.gnb_container > div.menu_img_wrp ul.menu_img li {position: absolute;top: 0; left: 0;width: 100%;}
nav div.gnb_container > div.menu_img_wrp ul.menu_img li img {width: 100%;}
nav div.gnb_container > div.menu_img_wrp ul.menu_img li:first-child img {opacity: 1;}
nav div.gnb_container > div.menu_img_wrp ul.menu_img li:nth-child(2) img {opacity: 0}
nav div.gnb_container > div.menu_img_wrp ul.menu_img li:nth-child(3) img {opacity: 0}
nav div.gnb_container > div.menu_img_wrp ul.menu_img li:nth-child(4) img {opacity: 0}
nav div.gnb_container > div.menu_img_wrp ul.menu_img li:last-child img {opacity: 0}
/* ================= GNB End ================= */

/* 0. body */
div#body {}
div#body > div.container {position: fixed;top: 50%;left: 0px;right: 0px;width: 95%; height: 165px;margin-left: 5%;z-index: 5;}
div#body > div.container > div.container_inner {position: absolute;left: 0;right: 0;bottom: 0;width: 70%; height: 165px;margin: 0 auto 82.5px ;background-color:#1a1b20;overflow: hidden;}

/* ================= jquery로 변형되는 html ================= */
/* 1. titleBar */
.title_bar {width: 100%;height: 100%;color:#fff;text-align: left;padding-left: 40px;margin-top: 20%;opacity: 0;}
.title_bar > h1 {font-size: 2rem;line-height: 40px;padding-top: 45px;}
.title_bar > p {font-size: 0.8rem;padding-top: 10px;}
/* background */
div#background {width: 100%;font-size: 0;color: transparent;text-indent: -999999px;}
div#background  div {position: relative;}
/* min 과 max height 설정해야한다. */
.title_wrp_bar_bg {position: relative;height: 680px;background-color: red;}
.video_wrp_bg {height: 720px;background-color: blue;}
.composer_wrp_bar_bg {height: 680px;background-color: yellow;}
.composer_wrp_bg {height: 720px;background-color: green;}
.ost_wrp_bg_bar {height: 680px;background-color: orange;}
.ost_wrp_bg {height: 720px;background-color: skyblue;}
/* 2. video */
#video {height: 100%;}
#video > iframe {width: 100%;height: 100%;}
#video > div.video_bg {display: block;}
/* 3. composer */
#composer {height: 100%;position: relative;text-align: center;}
#composer > div.composer_wrp {display: inline-block;color: #fff;}
#composer > div.composer_wrp > h3 {font-size: 1.2rem;}
#composer > div.composer_wrp > h2 {font-size: 2.5rem}
#composer > div.composer_wrp > div.composer_text_wrp {}
#composer > div.composer_wrp > div.composer_text_wrp > p {}
#composer > div.composer_img {position: absolute;bottom: 0;right: 0;}
#composer > div.composer_img > img {}